#greycol{
    color: gray;
}
.yellow{
    color: yellow;
}
div + div + h3 + p{
    color: green;
}
div + div > p{
    color: red;
}
h3[Пофарбуйте мене в рожевий колір color:pink](-n+1){
    color: pink;
}

.item:first-child{
    color: green;
}
.item:first-child:hover{
    color: red;
}

.item1{
    color: red;
}
.item2{
    color: black;
}
.item3{
    color: blue;
}
.item4{
    color: green;
}
.item5{
    color: lawngreen;
}